
html {
    background-color: #f0f0f0;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica, serif;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 0 auto;
    padding: 20px 20px;
    width: 850px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

div {
    margin-top: 30px;
}

textarea {
    margin-bottom: 20px;
}

label {
    vertical-align: top;
}

#title {
    width: 350px;
    height: 1px;
    padding: 15px;
    margin-left: 17px;
    border: 1px solid rgb(2, 100, 255);
    border-radius: 8px;
}

#article {
    width: 700px;
    height: 250px;
    padding: 20px;
    border: 1px solid rgb(2, 100, 255);
    border-radius: 8px;
}