<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>Records</title>
    <link type="text/css" media="all" rel="stylesheet" href="../../../css/main.css" th:href="@{/css/main.css}"/>
</head>

<body>
<div>
    <img src="../../images/logo.png" alt="STSM logo" title="STSM logo"
         th:src="@{/images/logo.png}" th:alt-title="#{title.application}"/>
</div>

    <h1>Welcome to Notepad!</h1>

    <h2>List of records</h2>

    <div th:each="record : ${records}">
        <a th:href="@{records/{id}(id=${record.getId()})}"
           th:text="${record.getLastModified()} + ' - ' + ${record.getTitle()}">record</a>
    </div>

    <br/>
    <hr/>
    <a href="/records/new">Create new record</a>
</body>
</html>