<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>New record</title>
    <link type="text/css" media="all" rel="stylesheet" href="../../../css/main.css" th:href="@{/css/main.css}"/>
</head>

<body>
    <div>
        <img src="../../images/logo.png" alt="STSM logo" title="STSM logo"
             th:src="@{/images/logo.png}" th:alt-title="#{title.application}"/>
    </div>

    <h2>Create new records</h2>

    <form th:method="POST" th:action="@{/records}" th:object="${record}">
        <div>
            <label for="title">Enter title: </label>
            <input type="text" th:field="*{title}" id="title"/>
        </div>

        <div>
        <label for="article">Enter article: </label>
        <textarea type="text" th:field="*{article}" id="article"></textarea>
        </div>

        <input type="submit" value="Create!">
    </form>

    <br/>
    <p></p>

    <a href="/records">Back</a>
</body>
</html>